body {
  background-color: #ffffff;
}

div {
  height: 100vh;
  width: 100vw;
  text-align: center;
  margin: auto;
  font-size: 10vw;
  color: white;
  font-family: "Courier";
}

.gridcontainer {
  display: grid;
  grid-row-gap: 50px;
}

.one {
  background-color: #77dd77;
  height: 30vh;
  width: 30vw;
}

.two {
  background-color: #fdef85;
  height: 30vh;
  width: 30vw;
}
