body {
  background-color: #ffffff;
}

div {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-gap: 50px;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: 10vw;
  color: white;
  font-family: "Courier";
}

.one {
  background-color: #77dd77;
  height: 30vh;
  width: 30vw;
}

.two {
  background-color: #fdef85;
  height: 30vh;
  width: 30vw;
}
