body {
  background-color: #77dd77;
}

div {
  background-color: #77dd77;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  margin: auto;
  font-size: 10vw;
  color: white;
  font-family: "Courier";
}

.one {
  background-color: #77dd77;
  height: 30vh;
  width: 30vw;
}

.two {
  background-color: #fdef85;
  height: 30vh;
  width: 30vw;
}

.three {
  background-color: #77dd77;
  height: 30vh;
  width: 30vw;
}

.four {
  background-color: #fdef85;
  height: 30vh;
  width: 30vw;
}

.five {
  background-color: #77dd77;
  height: 30vh;
  width: 30vw;
}

.six {
  background-color: #fdef85;
  height: 30vh;
  width: 30vw;
}

@media only screen and (max-width: 1024px) {
  div.one {
    background-color: #fdef85;
    order: -1;
  }
  .two {
    order: -2;
    background-color: #77dd77;
  }
  .three {
    background-color: #fdef85;
    order: -3
  }
  .four {
    background-color: #77dd77;
  }
  .five {
    background-color: #fdef85;
  }
  .six {
    background-color: #77dd77;
  }
}
