body {
  background-color: black;
  /* background-image: url('zz_Vorlage/N-Troxler-s-w.png');
  background-repeat: no-repeat;
  background-attachment: center;
  background-size: 35vw;
  background-position: top center; */
}

@font-face {
  font-family: Franklin Gothic Black SSi Black;
  src: url('zz_Fonts/Franklin Gothic Black SSi Black/Franklin Gothic Black SSi Black.ttf');
}

p {
  color: black;
  font-size: 0.9vw;
  line-height: 0.95vw;
  font-family: 'Franklin Gothic Black SSi Black';
  text-align: left;
  position: absolute;
}

@keyframes appearingletters {
  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

div {
  color: black;
  font-size: 17vw;
  font-family: 'Franklin Gothic Black SSi Black';
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 32.5vw;
  margin-top: -0.8vw;
  position: absolute;
  opacity: 0;
  animation-name: appearingletters;
  animation-duration: 9ms;
  animation-fill-mode: forwards;
}

.eins {
  margin-top: 0vw;
  margin-left: 0vw;
  animation-delay: 2.1s;
}

.zwei {
  margin-top: -2.75vw;
  margin-left: 7.75vw;
  animation-delay: 0.3s;
}

.drei {
  margin-top: 0.45vw;
  margin-left: 14.8vw;
  animation-delay: 6.3s;
}

.vier {
  margin-top: 0.05vw;
  margin-left: 23.2vw;
  animation-delay: 4.5s;
}

.fuenf {
  margin-top: 10.8vw;
  margin-left: -0.6vw;
  animation-delay: 3s;
}

.sechs {
  font-size: 16.4vw;
  margin-top: 10.2vw;
  margin-left: 6.8vw;
  animation-delay: 5.1s;
}

.sieben {
  margin-top: 11.35vw;
  margin-left: 14.45vw;
  animation-delay: 0.6s;
}

.acht {
  color: black;
  margin-top: 19.1vw;
  margin-left: -1.2vw;
  animation-delay: 3.6s;
}

.neun {
  margin-top: 20.15vw;
  margin-left: 5.2vw;
  animation-delay: 1.5s;
}

.zehn {
  color: black;
  margin-top: 20.7vw;
  margin-left: 13.9vw;
  animation-delay: 6s;
}

.elf {
  margin-top: 18.3vw;
  margin-left: 20.05vw;
  animation-delay: 2.7s;
}

.zwoelf {
  margin-top: 28.7vw;
  margin-left: -2.65vw;
  animation-delay: 2.4s;
}

.dreizehn {
  color: black;
  margin-top: 29vw;
  margin-left: 5.95vw;
  animation-delay: 4.2s;
}

.vierzehn {
  margin-top: 29.15vw;
  margin-left: 16.35vw;
  animation-delay: 1.2s;
}

.fuenfzehn {
  color: black;
  margin-top: 39.2vw;
  margin-left: -3.6vw;
  animation-delay: 0.9s;
}

.sechzehn {
  margin-top: 38.9vw;
  margin-left: 8.45vw;
  animation-delay: 5.4s;
}

.siebzehn {
  color: black;
  margin-top: 38.4vw;
  margin-left: 15.4vw;
  animation-delay: 4.8s;
}

.achzehn {
  margin-top: 40.4vw;
  margin-left: 18.15vw;
  animation-delay: 1.8s;
}

.neunzehn {
  color: black;
  margin-top: 38.1vw;
  margin-left: 27.7vw;
  animation-delay: 3.3s;
}

.whiteblock1 {
  animation-name: appearingletters;
  animation-delay: 3.9s;
  margin-left: 27.35vw;
  margin-top: 15.3vw
}

.whiteblock2 {
  animation-name: appearingletters;
  animation-delay: 5.7s;
  margin-left: 27.35vw;
  margin-top: 32.4vw;
}

@media only screen and (orientation: landscape) {
  body {
    transform: rotate(270deg) scale(2.3);
    /* margin-top: -75%; */
    /* margin-left: 100%; */
    margin-top: -77%;
    margin-left: -100%;

  }

  .whiteblock1 {
    transform: rotate(90deg);
    color: red;
    margin-left: 25%;
    margin-top: -50%;
    order: 99;
  }

  .whiteblock2 {
    transform: rotate(90deg);
    color: red;
    margin-left: -25%;
    margin-top: 0%;
    order: 100;
  }
}

@media only screen and (orientation: portrait) {
  body {
    transform: scale(3);
  }

  p {
    margin-top: 6px;
    margin-left: 8px;
    font-size: 10px;
    line-height: 11px;
  }

  .whiteblock1 {
    margin-left: 33vw;
    margin-top: 0px;
    background-color: white;
    width: 90px;
    height: 42px;
    order: 99;
  }

  .whiteblock2 {
    margin-left: 33vw;
    margin-top: 52px;
    background-color: white;
    width:90px;
    height: 52px;
    order: 100;
  }
}
