

body {
    background-image: url('zz_Vorlage/N-Troxler-s-w.png');
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: 35vw;
    background-position: top center;
}
@font-face { font-family: Franklin Gothic Black SSi Black; src: url('zz_Fonts/Franklin Gothic Black SSi Black/Franklin Gothic Black SSi Black.ttf'); }



div{
  /* opacity: 0.5; */
  color: red;
  font-size: 17vw;
  font-family: 'Franklin Gothic Black SSi Black';
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 32.5vw;
  margin-top: -0.8vw;
  /* background-color: white; */
  position: absolute;
}

.zwei {
  color: white;
  margin-top: -17.9vw;
  margin-left: 7.75vw;
}

.drei {
  color: red;
  margin-top: -14.7vw;
  margin-left: 14.8vw;
}

.vier {
  color: white;
  margin-top: -15.1vw;
  margin-left: 23.2vw;
}

.fuenf {
  color: white;
  margin-top: 10.8vw;
  margin-left: -0.6vw;
}

.sechs {
  font-size: 16.4vw;
  margin-top: 10.2vw;
  margin-left: 6.8vw;
}

.sieben {
  color: white;
  margin-top: 11.35vw;
  margin-left: 14.45vw;
}

.acht {
  color: red;
  margin-top: 19.1vw;
  margin-left: -1.2vw;
}

.neun {
  color: white;
  margin-top: 20.15vw;
  margin-left: 5.2vw;
}

.zehn {
  color: red;
  margin-top: 20.7vw;
  margin-left: 13.9vw;
}

.elf {
  color: white;
  margin-top: 18.3vw;
  margin-left: 20.05vw;
}

.zwoelf {
  color: white;
  margin-top: 28.7vw;
  margin-left: -2.65vw;
}

.dreizehn {
  color: red;
  margin-top: 29vw;
  margin-left: 5.95vw;
}

.vierzehn {
  color: white;
  margin-top: 29.15vw;
  margin-left: 16.35vw;
}

.fuenfzehn {
  color: red;
  margin-top: 39.2vw;
  margin-left: -3.6vw;
}

.sechzehn {
  color: white;
  margin-top: 38.9vw;
  margin-left: 8.45vw;
}

.siebzehn {
  color: red;
  margin-top: 38.4vw;
  margin-left: 15.4vw;
}

.achzehn {
  color: white;
  margin-top: 40.4vw;
  margin-left: 18.15vw;
}

.neunzehn {
  color: red;
  margin-top: 38.1vw;
  margin-left: 27.7vw;
}
