

body {
    background-image: url('zz_Vorlage/N-Troxler-s-w.png');
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: 35vw;
    background-position: top center;
}
@font-face { font-family: Franklin Gothic Black SSi Black; src: url('zz_Fonts/Franklin Gothic Black SSi Black/Franklin Gothic Black SSi Black.ttf'); }



div{
  opacity: 0.5;
  color: red;
  font-size: 17vw;
  font-family: 'Franklin Gothic Black SSi Black';
  text-align: center;
  margin-left: 32.5vw;
  margin-top: -0.8vw;
  background-color: white;
  position: absolute;
}

.zwei {
  color: white;
  background-color: red;
  margin-top: -17.9vw;
  margin-left: 7.75vw;
}

.drei {
  color: red;
  margin-top: -14.7vw;
  margin-left: 14.8vw;
}

.vier {
  color: white;
  background: red;
  margin-top: -15.1vw;
  margin-left: 23.2vw;
}

.fuenf {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10.8vw;
  margin-left: -0.6vw;
}

.sechs {
  color: red;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16.4vw;
  margin-top: 10.2vw;
  margin-left: 6.8vw;
}

.sieben {
  color: blue;
  background: red;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 11.8vw;
  margin-left: 14.2vw;
}
